[Unit]
Description=Recognition Flask Server Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/amir/Documents/Coin-Sum-Counter-Bot/recognition/run-rec-server.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
